{% extends "base.html" %}

{% block site_content %}
	<div class="container mt-5">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-primary" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h3>Edit {{ team.name }}</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<form method="post">
					{{ form1.hidden_tag() }}
					<div class="row">
						<div class="col mb-3">
							{{ form1.name.label }}
							{{ form1.name(class="form-control") }}
							{% for error in form1.name.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</div>
					</div>
					<div class="row">
						<div class="col mb-3">
							{{ form1.blurb.label }}
							<div class="input-group">
								{{ form1.blurb(class="form-control", maxlength="1024", rows="10", style="resize: none;") }}
							</div>
							{% for error in form1.blurb.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</div>
					</div>
					<hr>
					<h5>What skills does your team need?</h5>
					{% for skill in [form1.skill_pm, form1.skill_pr, form1.skill_gd, form1.skill_cm, form1.skill_bs] %}
						<div class="custom-control custom-checkbox mt-3">
							{{ skill(class="custom-control-input") }}
							{{ skill.label(class="custom-control-label") }}
						</div>
					{% endfor %}
					<hr>
					<button class="btn btn-primary btn-lg btn-block mb-5" type="submit">Save Changes</button>
				</form>
			</div>
			<div class="col-md-4">
				<div class="alert alert-danger" role="alert">
  					<h4 class="alert-heading">Delete Team</h4>
  					<p>Deleting your team will remove all members from the team and everything will be lose.</p>
  					<hr>
  					<form method="post">
  						{{ form2.hidden_tag() }}
  						<button class="btn btn-danger button-block" type="submit">Delete</button>
  					</form>
  				</div>
			</div>
		</div>
	</div>
{% endblock %}