{% extends "base.html" %}

{% block site_content %}
	<header class="bg-primary py-5 mb-5">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-lg-12">
					<h1 class="display-4 text-white mt-5 mb-2">Team Create</h1>
					<p class="lead text-white mb-5">Matching great ideas with talented people across the world.</p>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-9 mb-5">
				<h2>What We Do</h2>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
				<a class="btn btn-primary" href="{{ url_for('main.teams') }}">Look at Current Teams</a>
			</div>
			<div class="col-md-3 mb-5">
				<h2>Are you ready?</h2>
				<hr>
				{% if current_user.is_anonymous %}
					<p class="text-muted">Take your idea to the next level and register today.</p>
					<a class="btn btn-success btn-lg" href="{{ url_for('auth.register') }}">Register</a>
				{% else %}
					<p class="text-muted">Create your team and recruit some members!</p>
					<a class="btn btn-success btn-lg" href="{{ url_for('team.create') }}">Create Team</a>
				{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<h4>Current Teams</h4>
				<hr>
			</div>
			{% for team in teams %}
				<div class="col-md-4 mb-3">
					{% include "team/_teams.html" %}
				</div>
			{% endfor %}
			<div class="col-12 mb-4">
				<nav>
					<ul class="pagination">
						{% if prev_url %}
							<li class="page-item previous ">
								<a class="page-link" href="{{ prev_url or '#' }}">
									<span aria-hidden="true">&larr;</span> Previous
								</a>
							</li>
						{% endif %}
						{% if next_url %}
							<li class="page-item next">
								<a class="page-link" href="{{ next_url or '#' }}">
									Next <span aria-hidden="true">&rarr;</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}