{% extends "base.html" %}

{% block site_content %}
	<div class="container mt-5">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-primary" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-8">
				<h3>Messages</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			{% for message in messages %}
				<div class="col-md-8 mb-3">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">{{ message.author.get_fullname() }}</h5>
							<p class="font-italic text-muted">{{ moment(message.timestamp).fromNow() }}</p>
							<p class="card-text">{{ message.body }}</p>
						</div>
						<div class="card-footer">
							<a class="btn btn-primary" href="{{ url_for('main.compose', id=message.sender_id) }}">Reply</a>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="col-12 mb-4">
				<nav>
					<ul class="pagination">
						{% if prev_url %}
							<li class="page-item previous">
								<a class="page-link" href="{{ prev_url or '#' }}">
									<span aria-hidden="true">&larr;</span> Previous
								</a>
							</li>
						{% endif %}
						{% if next_url %}
							<li class="page-item next">
								<a class="page-link" href="{{ next_url or '#' }}">
									Next <span aria-hidden="true">&rarr;</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}